* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #bdb7d3, #3d77b8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.todo-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
}

.input-group button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ff5c33;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.input-group button:hover {
  background-color: #ff784e;
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 25px;
  margin-bottom: 10px;
}

ul li.done {
  text-decoration: line-through;
  color: gray;
  background: #dcdcdc;
}
.stats {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.progress-bar {
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: #3a3837;
  transition: width 0.3s ease;
}
canvas {
  display: block;
  margin: 20px auto 0;
  max-width: 250px;
}